# Clone zcomet if necessary
export ZCOMET_DIR=${XDG_DATA_HOME:-${HOME}}/zcomet
if [[ ! -f $ZCOMET_DIR/bin/zcomet.zsh ]]; then
	command git clone https://github.com/agkozak/zcomet.git "$ZCOMET_DIR"/bin
fi

zstyle ':zcomet:*' home-dir "$ZCOMET_DIR"
source "$ZCOMET_DIR"/bin/zcomet.zsh

# exit for non-interactive shell
[[ $- != *i* ]] && return

# WSL doesn't work well with BG_NICE
[ -d "/mnt/c" ] && [[ "$(uname -a)" == *Microsoft* ]] && unsetopt BG_NICE

# Disable correction
unsetopt correct_all
unsetopt correct

# Must before prezto
export HISTFILE="$XDG_STATE_HOME"/zsh/history

ZSH_AUTOSUGGEST_USE_ASYNC=1

# Declare modules
zstyle ':prezto:*:*' color 'yes'
zstyle ':prezto:module:editor' key-bindings 'emacs'
zstyle ':prezto:module:prompt' theme 'powerlevel10k'
zstyle ':prezto:module:prompt' pwd-length 'short'
zstyle ':prezto:module:terminal' auto-title 'yes'
zstyle ':prezto:module:autosuggestions' color 'yes'
zstyle ':prezto:module:python:virtualenv' auto-switch 'yes'
zstyle ':prezto:load' pmodule \
	'environment' \
	'editor' \
	'history' \
	'completion' \
	'history-substring-search' \
	'autosuggestions' \
	'prompt' \
	'python'

# Initialize prezto
zcomet load prezto

# enable syntax highlighting
zcomet load zdharma-continuum/fast-syntax-highlighting

# better completion ui
zcomet load Aloxaf/fzf-tab

# compinit run by `zcomet load prezto`
# zstyle ':zcomet:compinit' arguments -d "$XDG_CACHE_HOME"/zsh/zcompdump-"$ZSH_VERSION"
# zcomet compinit

setopt prompt_subst
setopt NO_NOMATCH

# ignore completion
zstyle ':completion:*:complete:-command-:*:*' ignored-patterns '*.pdf|*.exe|*.dll'
zstyle ':completion:*:*sh:*:' tag-order files
# fix lag in google3
zstyle ':completion:*' users root "$USER"

# key bindings
bindkey "^P" history-substring-search-up
bindkey "^N" history-substring-search-down
