#!/bin/bash

install () {
	fname={{ .chezmoi.sourceDir }}/data/packages/$1
	$2 python3 {{ .chezmoi.sourceDir }}/tools/install-package.py ${fname}
}

{{- if eq .chezmoi.osRelease.name "Arch Linux" }}
	install arch/local.yaml
	install arch/wsl.conf.yaml
{{ else if eq .chezmoi.osRelease.name "Ubuntu" }}
	install ubuntu/local.yaml
	install ubuntu/pip.conf.yaml sudo
	install ubuntu/utils.conf.yaml sudo
{{ else if eq .chezmoi.osRelease.name "Debian GNU/Linux" }}
	install debian/local.yaml
	install debian/pip.conf.yaml sudo
	install debian/utils.conf.yaml sudo
{{ end -}}
